{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": ["jsx-a11y", "prettier", "sort-imports-es6-autofix"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sort-imports-es6-autofix/sort-imports-es6": [
      "error",
      {
        "ignoreCase": true,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "prettier/prettier": "error"
  }
}
