$base-dark: #221f1f;
$headingFont: "Lato";
$subheadFont: "Open Sans";

.footer{
    width:100%;
    position: static;
    bottom: 0;
    padding: 40px 20px 0;
    height: 354px;
    background-color: $base-dark;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: Lato;
    color: white;
    overflow: hidden;
    
    .logo-container{
        text-align: center;

        img{
            width: 287px;
            margin-top: -25px;
        }
        .logo-caption{
            margin-top: 25px;
        }
    }
    
    h2{
        font-family: 'Lato';
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 16px;
    }
    .contact-info{
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 27px;
        }
    }

    .footer-form{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 240px;
        font-weight: 600;
        justify-content: space-evenly;

        input{
            width: 237px;
            height: 57px;
            border-radius: 8px;
            border: 1px solid #979797;
            font-size: 18px;
            margin-bottom: 8px;
            color:#9b9b9b;
        }
        .input{
            background-color: $base-dark;
            padding-left: 24px;

        }
        .subscribe{
            border: solid 1px #979797;
            background-color: #4a4a4a;
            font-size: 24px;
            cursor: pointer;
            color: #fff;

            &:hover{
                background-color: $base-dark;
            }
        }
        
    }
}