#sign-in__modal-wrapper, #sign-up__modal-wrapper{
    z-index: 1;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.7);
    
    

    .form-head{
        margin-bottom: 16px;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 24px;
        }


        .close{
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
    }

    .modal-content-wrapper{
        border-radius: 8px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        width: 50%;
        margin: 20vh auto;
        background-color: white;
        padding: 32px;
        z-index: 100;
    }
        form{
        display: flex;
        flex-direction: column;
        align-items: left;

        input, select{
            width: 100%;
            height: 35px;
            margin-top: 16px;
            border-radius: 8px;
            border: solid 1px #979797;
            font-size: 16px;
            padding-left: 25px;
        }
        .modal-switch{
            display: block;
            float: left;
        }
       

        .form-footer{
            display: flex;
            width: 100%;
            margin-top: 32px; 
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            button{
                cursor: pointer;
                width: 132px;
                height: 46px;
                border-radius: 5px;
                border: solid 1px #979797;
                background-color: #4a4a4a;
                font-size: 20px;
                color: #fff;
            }

            p{
                font-size: 16px;

                span{
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }

}