*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.nav__button {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-gap: 3rem;
  align-content: center;
  padding-top: 4.5rem;
  justify-self: flex-end; }

.btn {
  width: 141px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #ffffff; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    max-height: 3.5rem;
    width: 10rem;
    border-radius: 3px; }
  .btn--white {
    text-decoration: none;
    background-color: #287c80;
    color: #ffffff;
    text-align: center;
    padding: 0.35rem; }
    .btn--white:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .btn--white:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn--white:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--orange {
    background-color: #287c80;
    border: solid 2px #f55701;
    color: white;
    text-align: center;
    padding: 0.35rem; }
    .btn--orange:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .btn--orange:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn--orange:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.footer {
  width: 100%;
  position: static;
  bottom: 0;
  padding: 40px 20px 0;
  height: 354px;
  background-color: #221f1f;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Lato;
  color: white;
  overflow: hidden; }
  .footer .logo-container {
    text-align: center; }
    .footer .logo-container img {
      width: 287px;
      margin-top: -25px; }
    .footer .logo-container .logo-caption {
      margin-top: 25px; }
  .footer h2 {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 16px; }
  .footer .contact-info {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .contact-info p {
      font-size: 27px; }
  .footer .footer-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    font-weight: 600;
    justify-content: space-evenly; }
    .footer .footer-form input {
      width: 237px;
      height: 57px;
      border-radius: 8px;
      border: 1px solid #979797;
      font-size: 18px;
      margin-bottom: 8px;
      color: #9b9b9b; }
    .footer .footer-form .input {
      background-color: #221f1f;
      padding-left: 24px; }
    .footer .footer-form .subscribe {
      border: solid 1px #979797;
      background-color: #4a4a4a;
      font-size: 24px;
      cursor: pointer;
      color: #fff; }
      .footer .footer-form .subscribe:hover {
        background-color: #221f1f; }

.navbar {
  background-color: #287c80;
  display: grid;
  grid-template-columns: 10rem auto auto auto;
  grid-template-rows: 10rem;
  grid-gap: 1rem;
  font-size: 2rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  .navbar__logo {
    justify-content: start; }
  .navbar__logo-1 {
    width: 10rem;
    height: 10rem; }
  .navbar ul {
    display: flex;
    list-style: none;
    padding-top: 5rem;
    justify-self: flex-start;
    font-family: "Lato"; }
    .navbar ul li {
      padding-left: 4rem;
      float: left; }
      .navbar ul li a {
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        display: block; }
        .navbar ul li a:hover:not(:active) {
          color: #979797; }
        .navbar ul li a:active {
          color: #d8d8d8; }
  .navbar__burger {
    padding-top: 4.5rem;
    display: grid;
    justify-content: center;
    align-content: center; }
    .navbar__burger--svg:hover {
      transform: translateY(-2px); }
      .navbar__burger--svg:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .navbar__burger--svg:active {
      transform: translateY(-1px); }

#sign-in__modal-wrapper,
#sign-up__modal-wrapper {
  z-index: 1;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.7); }
  #sign-in__modal-wrapper .form-head,
  #sign-up__modal-wrapper .form-head {
    margin-bottom: 16px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    #sign-in__modal-wrapper .form-head h1,
    #sign-up__modal-wrapper .form-head h1 {
      font-size: 24px; }
    #sign-in__modal-wrapper .form-head .close,
    #sign-up__modal-wrapper .form-head .close {
      cursor: pointer;
      font-size: 28px;
      font-weight: bold; }
  #sign-in__modal-wrapper .modal-content-wrapper,
  #sign-up__modal-wrapper .modal-content-wrapper {
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    width: 50%;
    margin: 20vh auto;
    background-color: white;
    padding: 32px;
    z-index: 100; }
  #sign-in__modal-wrapper form,
  #sign-up__modal-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: left; }
    #sign-in__modal-wrapper form input,
    #sign-in__modal-wrapper form select,
    #sign-up__modal-wrapper form input,
    #sign-up__modal-wrapper form select {
      width: 100%;
      height: 35px;
      margin-top: 16px;
      border-radius: 8px;
      border: solid 1px #979797;
      font-size: 16px;
      padding-left: 25px; }
    #sign-in__modal-wrapper form .modal-switch,
    #sign-up__modal-wrapper form .modal-switch {
      display: block;
      float: left; }
    #sign-in__modal-wrapper form .form-footer,
    #sign-up__modal-wrapper form .form-footer {
      display: flex;
      width: 100%;
      margin-top: 32px;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between; }
      #sign-in__modal-wrapper form .form-footer button,
      #sign-up__modal-wrapper form .form-footer button {
        cursor: pointer;
        width: 132px;
        height: 46px;
        border-radius: 5px;
        border: solid 1px #979797;
        background-color: #4a4a4a;
        font-size: 20px;
        color: #fff; }
      #sign-in__modal-wrapper form .form-footer p,
      #sign-up__modal-wrapper form .form-footer p {
        font-size: 16px; }
        #sign-in__modal-wrapper form .form-footer p span,
        #sign-up__modal-wrapper form .form-footer p span {
          font-weight: bold;
          cursor: pointer; }
    #sign-in__modal-wrapper form .sign-up-err-msg,
    #sign-up__modal-wrapper form .sign-up-err-msg {
      display: none;
      font-size: 16px;
      color: red; }

.hero-container {
  width: 100%;
  height: 400px;
  background-image: url("../../img/landing-hero.jpg");
  background-color: rgba(74, 74, 74, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal; }
  .hero-container .hero-text {
    padding: 100px 127px;
    color: #ffffff; }
    .hero-container .hero-text h1 {
      font-size: 52px; }
    .hero-container .hero-text p {
      font-size: 45px;
      font-family: "Open Sans"; }

.about {
  width: 100%;
  height: 200px;
  text-align: left;
  font-size: 16px;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  padding: 0 127px; }
  .about h2 {
    margin: 32px 0; }
  .about p {
    font-size: 24px;
    color: #4a4a4a;
    font-family: "Open Sans"; }

.survey-section {
  width: 100%;
  height: 240px;
  border-top: solid 1px #979797;
  padding: 55px 127px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d8d8d8; }
  .survey-section .info-box {
    width: 863px;
    font-size: 16px;
    font-family: "Lato";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-right: 105px; }
    .survey-section .info-box h2 {
      color: black; }
    .survey-section .info-box p {
      font-size: 20px;
      font-family: "Open Sans"; }
  .survey-section button {
    cursor: pointer;
    width: 225px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #979797;
    background-color: #4a4a4a;
    font-family: AvenirNext;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
    .survey-section button:hover {
      background-color: #6e6e6e; }
