@import "../abstracts/variables";

.nav__button {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-gap: 3rem;
  align-content: center;
  //padding-top: 4.5rem;
  justify-self: flex-end;
}

.btn {
  width: 141px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px $white;
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    max-height: 3.5rem;
    width: 10rem;
    border-radius: 3px;
  }

  &--white {
    text-decoration: none;
    background-color: $uglyBlue;
    color: $white;
    text-align: center;
    padding: 0.35rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    }
  }

  &--orange {
    background-color: $uglyBlue;
    border: solid 2px $brightOrange;
    color: white;
    text-align: center;
    padding: 0.35rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    }
  }
}
