.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        float: left;
        width: 2rem;
        height: .5rem;
        padding: 10rem;
        border-radius: 3px;
        // color: black;
    }

    &--light {
        background-color: #d8d8d8;
        color: black;
    }

    &--dark {

    }
}