.nav__button {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.btn {

    &:link,
    &:visited {
        // display: grid;
        text-transform: uppercase;
        text-decoration: none;
        max-height: 3.5rem;
        // align-content: center;
        width: 10rem;
        border-radius: 3px;
    }

    &--light {
        background-color: #d8d8d8;
        color: black;
        text-align: center;
        padding: .35rem;
    }

    &--dark {
        background-color: #4a4a4a;
        border: 1px solid #d8d8d8;
        color: white;
        text-align: center;
        padding: .35rem;

    }
}