.btn {

    &:link,
    &:visited {
        // background-color: #d8d8d8;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        float: left;
        width: 10rem;
        height: 3rem;
        // padding: 5rem;
        border-radius: 3px;
    }

    &--light {
        background-color: #d8d8d8;
        color: black;
        text-align: center;
        padding: 1rem;
    }

    &--dark {

    }
}