.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: orange;
    font-size: 6rem;

    // &ul {
    //     &li {
    //         &a {

    //         }
    //     }
    // }
}