.navbar {
    background-color: orange;
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
    height: 10vh;
    font-size: 2rem;

    // &ul {
    //     &li {
    //         &a {

    //         }
    //     }
    // }
}